/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/libtool
/ltmain.sh
/m4/
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~
*.log
*.scan
/src/Makefile
/src/Makefile.in
/test/Makefile
/test/Makefile.in
